body {
  background-color: #424242;
}

.main{
  max-width: 1000px;
  margin: auto;
}

ul {
  list-style: none;
}

  /***************/
 /* Team Setup  */
/***************/

.selector {
  background-color: #fff;
  max-width:500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.selector h2 {
  font-family: 'Raleway';
}

.selector form {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #04AA6D;
  border-radius: 2px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

  /*****************/
 /* Team Setup   */
/***************/
@media only screen and (max-width: 650px) {

  .player-list {
    background-color: #f7f7f7;
    border-radius: 5px;
    flex-basis: 48%;
  }

  .teams-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

  /*****************/
 /* Game Tracker */
/***************/
.top-row {
  display: flex;
}

.top-row .scoreboard-container {
  height: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 20px;
  background-color: #00723b;
  border: 1px solid #ffffff;
  border-radius: 10px;
  flex-basis: 60%;
  display: flex;
  align-items: center;

}

.scoreboard-container h2 {
  font-size: 20px;
}
.oreboard-container_game-stat{
display: flex;
align-items: center;
justify-content: space-between;
column-gap: 20px;
margin-left: 25px;
}

.inning-stat {
  display: flex;
}

.inning-stat h3 {
  font-family: 'Raleway';
  font-size: 26px;
  width: 30px;
  height: 30px;
  background-color: #000000;
  margin: 10px;
  border-radius: 2px;
  color: red;
  text-align: center;
  line-height: 28px;
}

.sideboard {
margin:10px;
background-color: #fff;
flex-basis: 45%;
}

.sideboard > button {
  display: block;
  background-color: #00723b;
  color: #ffffff;
  padding: 10px;
  border: none;
  width: 90%;

}

.teams-container {
  display: flex;
  justify-content: space-evenly;
}
.player-list {
  background-color: #f7f7f7;
  border-radius: 5px;
  flex-basis: 47%;
}

.player-list_team {
  border-bottom: 1px solid #000;
  padding: 5px 15px;
  display: flex;
  align-items: center;
}

.player-list_team h2:first-child {
  flex-basis: 60%;
  text-align: left;
}

.player-list_team p {
  margin: 5px 0;
  flex-basis: 8%;
  text-align: center;
}

.player-list_team_batter {
  background-color:grey;
  padding:0 9px;
  margin:10px 5px;
  border: 3px solid grey;
  min-height: 50px;
  border-radius: 5px;
}

.player-list_team_reserve {
  background-color: slategray ;
  padding:0 9px;
  margin:10px 5px;
  border: 1px solid grey;
  border-radius: 5px;
}



.gender_m {
  border: 3px solid skyblue;;
}

.gender_f {
  border:3px solid pink;
}

.player-list_stats {
  display: flex;
  border-radius: 8px;
  padding: 20px 0px;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF;
  text-align: center;
}

/* .player-list_stats li {
  flex-basis: 5%;
  text-align: center;
} */

.player-list_stats h2 {
  margin: 0;
  font-weight: 500;
  flex-basis: 20%;
  line-height: 27px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.player-list_stats h3 {
  margin: 0;
  font-weight: 500;
  flex-basis: 80%;
  font-size: 15px;
  line-height: 27px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.player-list_stats_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #ffffff;
  border-radius: 10px;
}

.player-list_stats_modal h3 {
  text-align: center;
}

.player-list_stats_modal ul {
  display: flex;
  justify-content: space-evenly;
}

.player-list_stats_modal > div {
  display: flex;
  justify-content: space-evenly;
  margin:20px
}

.player-list_stats_modal > div > div {
  flex-basis: 30% ;
}
.player-list_stats_modal > div > div input {
  width: 100% ;
  height: 25px;
  border: 1px solid #000;
  border-radius: 3px;
}

.player-list_stats_modal button {
  width:40px;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
  border: none;
  background-color: #00723b;
  color: #FFF;
}

.player-list_stats_modal ul li {
  flex-basis: 10%;
  text-align: center;
}


/* MOBILE */
@media only screen and (max-width: 650px) {
  .main{
    max-width: 1000px;
    margin: auto;
  }

  .player-list {
    background-color: #f7f7f7;
    border-radius: 5px;
    flex-basis: 48%;
  }

  .teams-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .top-row {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .top-row .scoreboard-container {
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 20px;
    flex-basis: 86%;
    align-items: center;
  }

  .top-row .scoreboard-container div:first-child {
flex-basis: 18%;
  }

  .top-row .scoreboard-container div:last-child {
    flex-basis: 78%;
      }



  .sideboard {
    display: flex;
    align-items: center;
    flex-basis: 40%;
    justify-content: space-around;
  }
  
  .inning-stat h3 {
    width: 30px;
    height: 30px;
    margin: 2px;
    text-align: center;
    line-height: 30px;
  }
  .selector {
    background-color: #fff;
    max-width:300px;
  }
}